/* @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); */
/* en una sola importación se pueden traer varias fuents de google */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #002E94;
}

#notificacionMascotaElegidaYVidasDisponibles-jugador,
#notificacionMascotaElegidaYVidasRivalDisponibles-rival {
    font-family: 'Poppins', sans-serif;
    color: white;
}

#principal,
#tresSeleccionAtaqueJugador,
#cuatroLineaDeTiempoDelJuego,
#ataques,
#cincoVeredicto,
#notificacionMascotaElegidaYVidasDisponibles-jugador,
#notificacionMascotaElegidaYVidasRivalDisponibles-rival,
#veredictoReinicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cincoVeredicto {
    flex-direction: row;
    justify-content: center;
}


input {
    display: none;
}

/* input:checked{
    
} */

button {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-family: 'Fredoka One', cursive;
    color: white;
    /* width: 318px;
    height: 50px; */
    background-color: transparent;
    text-align: center;
}

.subtitulo {
    color: white;
    text-align: center;
}

#unoSeleccionMascota,
#elegirAtaque-jugador {
    /* display flex es para que los elementos
    aparezcan uno al lado del otro y no 
    arriba y abajo */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.lblMascotas {
    width: 180px;
    height: 100px;
    background-color: aquamarine;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #083AA9;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.lblMascotas img {
    width: 50px;
}

#veredictoReinicio {
    background-color: pink;
    border-radius: 20px;
}

#dosNotificacionesMascotaElegidaYVidasDisponibles {
    display: grid;
    grid-template-columns: 120px 120px;
}

.negrita{
    font-weight: bold;
}

@media (max-width: 430px) {

    #unoSeleccionMascota,
    #elegirAtaque-jugador {
        display: flex;
        flex-direction: column;
    }
}

